*{
    padding: 0%;
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.nav-link{
    color: rgb(255, 255, 255) !important;
}
.navbar-brand{ 
    color: white !important;
    margin-left: 100px;
    font-size: 27px !important;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-nav{
    margin-right: 100px;
    font-size: 15px !important;
}
.nav-link{
    color: white;
    transition: 0.5s;
}
.nav-link:hover{
   color: #B64629 !important;
}
.fa-solid{
    color: #B64629 !important;
}

    /* HERO SECTION STARTED*/

    .hero {
        background-image: url(./images/bg_24.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 65vh;
        display: flex ;
        justify-content: center;
        align-items: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
    .hero-contant{
        height: 65vh;
        width: 100%;
    }
    .hero-txt{
        position: relative;
        top: 20vh;
        text-align: center;
    }
    h1 {
        font-size: 80px !important;
        line-height: 1.1;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: white;
        font-style: italic;
        font-weight: 600 !important;
        color: transparent;
        transform: rotate(-6deg) !important;    
    }
     .drink-span{
        color: white;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 0px;
    
    }
   
    .btn{
        display: flex !important;
        justify-content: center!important;
        align-items: center !important;
    }
    .hero-btn {
        padding: 12px 16px;
        font-size: 14px !important;
        font-weight: 500;
        border-radius: 3px;
        border: none;
    }
    .hero-btn-1{
        background-color: #B64629;
        color: white;
        margin-right: 3px;
    }
    .btn .hero-btn-2{
        background-color: transparent;
       border: 0.5px solid white !important;
       color: white;
       transition: 0.5s !important;    
    }
    .hero-btn-2:hover{
        border: none;
        background-color: #B64629; 
    }
    .hero-sec-2{
        height: 20vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B64629;
        color: white;
        line-height: 30px;
    }
    .heading{
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .para-1{
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .h3-para{
        height: 16vh;
        width: 25vh;
        margin: 30px 0px 0px 30px;
    }
    .colm-1{
        color: white;
        height: 20vh;
        width: 38vh;
        background-color: #B64629;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-img1{
        height: 100px;
        width: 100px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .colm-2{
        background-color: #AB4227;
        height: 20vh;
        width: 38vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-img2{
        height: 100px;
        width: 100px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    .colm-3{
        background-color: #A23F25;
        height: 20vh;
        width: 38vh;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .icon-img3{
        height: 100px;
        width: 100px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    /* HERO SECTION END */

        /* ABOUT SECTION STARTED */

        .about{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            bottom: 70px;  
        }
        .about-frame{
            height: 50vh;
            width: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15vh;
        }
        .about-pic-div{
            height: 50vh;
            width: 53vh;
            overflow: hidden;
        }
    
        .about-img {
            height: 100%;
            width: 100%;
            transition: 0.5s;
        }
        .about-img:hover {
            transform: scale(1.05);
        }
        .about-content {
            height: 60vh;
            width: 45vh;
            margin-right: 20vh;
            margin-top: 20vh;
    
        }
        .about-subtitle{
            color: #B64629;
        }
        .about-heading{
            color: #000;
            font-size: 40px;
            font-weight: 500;
        }
        .about-para{
            font-size: 17px;
            line-height: 25px;
            color: #3C3E41;
            margin-top: 2%;
        }
        #p115{
            color: #B64629;
            font-size: 35px;
        }
        #para3{
            font-size: 28px;
        }

        /* About Sec End */



